body {
    background-image: url(img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: grey;
}

 body h1 {
    font-weight: bold;
    font-size: 75px;
    text-align: center;
    color:rgb(5, 5, 5);
    margin-top: 250px;
    
 }
 body p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 455px;
    width: 550px;
   
    font-size: 25px;
    color: rgb(9, 7, 7) ;
}
.explore {
    background-color: rgb(78, 219, 216);
    margin-left: 650px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 30px;
    border-color: aliceblue;
    color: orangered;
    cursor: pointer;
}